html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Open Sans Regular', sans-serif;
    margin: 0;
}


/*FONTES INCLUDES*/

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?iefix') format('eot'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?iefix') format('eot'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?iefix') format('eot'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#webfont') format('svg');
}


/*NORMATIZACOES*/

.textaligncenter { text-align: center; }
.margintopbottom20 { margin: 20px 0; }
.margin0 { margin: 0px !important; }
.padding20 { padding: 20px; }
.alert { border-radius: 0px; border: 0px; }
.alert-total {
    background-color: #333;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.8;
}

/*centralizacao horizontal*/

.centered-horizontal {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    align-items: center;
    -webkit-align-items: center;
}


/*centralizacao absoluta*/

.centered-absolute {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    -webkit-align-items: center;
}

.topSlogan { margin-top: 110px; }
#parcelas-message, #parcelas-wallet-message { padding: 6px; font-size: 12px; border: 0px !important; }

#total-amount {
    padding: 16px;
    font-size: 16px;
    border: 0px!important;
    border-radius: 0px!important;
}


/*SOBREPOR REGRAS DE ESTILO BOOTSTRAP*/

input, select { border-radius: 0px !important }
.btn { border-radius: 0px; border: 0px; }
.btn:hover { transition: all ease .5s; background-color: #1FD9C1; border: 0px; }
.btn-default { background-color: #dedede; }
.btn-primary { background-color: #287EFB; }
.list-group { border: 1px solid #dedede; }
.list-group-item { border: none; }
.list-group a.list-group-item { list-style-type: disk; }
.nav-tabs { border-bottom: none; margin: 0px; padding: 0px; }
.nav-tabs>li { margin: 0px; padding: 1px; }

.nav-tabs>li>a {
    background-color: #dddddd;
    color: #707070;
    border-radius: 0px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    padding: 26px 0px;
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    background-color: #eee;
    color: #707070;
    z-index: 99;
    transition: all 0.5s ease 0s;
}

.nav-tabs>li.active>a {
    color: #666666;
    background-color: #ffffff;
    z-index: 100;
    font-weight: 600;
}

.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus { transition: all 0.5s ease 0s; }


/*especifico da tab com logo na nix*/

.nav-tabs>li>a#wallet-tab { padding: 22px; }

/*corpo conteudos dos tabs*/

.tab-pane {
    width: 100%;
    height: 100% align-items: center;
    -webkit-align-items: center;
    padding: 16px;
    margin-top: 16px;
}

.card-wrapper-credit { margin: 25px 0 50px 10px; }
.radio-inline { margin: 10px;}
ul.dropdown-menu { min-width: 30px; }

/*botao SELECT BANDEIRAS*/
#menu-cards, #menu-cards-credit {
    background: #eee;
    list-style: none;
    padding: 10px 6px;;
    min-width: 65px;
    border: none;
    border-radius: 0px;
    margin-top: 0px;
    box-shadow: none;
}

.selectorCard input{
    text-decoration: none;
    list-style: none;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.selectorCard a { text-decoration: none; }
#button-card, #button-card-credit { margin-top: 25px; padding: 8px 10px; }

.efeitoCards{
    cursor:pointer;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.efeitoCards:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}


/* Estilo XS e SM */
@media screen and (max-width: 720px) {
.logo-nix-mobile {padding:6px;}
.header-title {margin-left: 20px;}
.topSlogan { margin-top: -50px; text-align: center; }
#wallet-tab img { width: auto; height: 32px; }
.nav-tabs>li>a#wallet-tab { padding: 6px; }
.list-group { border:none; }
#menu-cards,  #menu-cards-credit {
    width: 80px;
    border-radius: 0px;
    margin-top: -19px;
    text-align: center;
    list-style: none;
}
    .nav-tabs>li>a {
        background-color: #dddddd;
        color: #707070;
        border-radius: 0px;
        font-size: 32px;
        text-align: center;
        white-space: nowrap;
        padding: 0px 0px;
        border-bottom: 1px solid #ddd;
    }
    .btn {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        align-items: center;
        -webkit-align-items: center;
        margin: 20px 0px;
    }

}
